/*===============
SEZIONE GENERALE
=================*/

html, body {
	font-size: 12pt;
	max-width: 1024px;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	position: relative;
	width: 100%;
}

.Menu, .sandwich, #user, #saltaMenu, #logofooter, #logofacebook, .container, .logo, #Coni, #asi {
	display: none;
}

#logo {
	display: none;
}

#titoloPagina {
	font-size: 22px;
	margin-bottom:-15px;
}

.printable {
	font-size: 16pt;
	font-weight: bold;
	display: block;
}

.printablefooter {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom:-15px;
}

#footerdx {
	font-size: 10pt;
}

#Footer h2 {
	margin-bottom: -15px;
}

/*===============
PAGINA HOME
=================*/

.image, .ridimensionasx, .ridimensionadx, .allenamento, .homeImg {
	display:none;
	float: none;
}

.sx, .dx, .limitedx, .limitesx, .elenchiHome {
	float:none;
}

.separator {
	display: none;
}

#DescrizionePalestra h3 {
	margin-bottom:-15px;
}

.elenchiHome, .elenchiHome ul {
	margin-top:-15px;
}

/*===============
PAGINA ATTIVITA
=================*/

.courseimg{
	display: none;
}

.iconAtt {
	display: none;
}

.titleCourseContent{
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	margin-bottom:-15px;
}

.textAttContainer{
	line-height: 110%;
}

/*===============
PAGINA CALENDARIO
=================*/

#imgcal {
	display: none;
}

#calendariocorsi #Footer {
	display: none;
}

.calendario {
	border-color:white;
	position: static;
	border-style: solid;
}

#salafitness {
	font-size: 12pt;
	clear:both;
}

.vocecalendario {
	float:left;
	margin:0;
	width: 118px;
}

.giornovoce {
	text-align: center;
}

.orari {
	list-style-type: none;
	margin:0;
	padding:0;
	text-align: center;
}

.orari li {
	margin: 2.3em 0em 3em 0em;
}

.oraricorsi li a {
	text-decoration: none;
}

.oraricorsi {
	list-style-type: none;
	margin:0;
	padding:0;
}

.corsovuoto {
	border:1px solid black;
	width:auto;
	height:4em;
}

.spinning {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.step {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.powerpump {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.jumpfit {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.fitboxe {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

/*===============
PAGINA NEWS
=================*/

.imgnews{
	display: none;
}

.titlenews {
	margin-bottom:-15px;
}

.pubblicazione {
	font-size: 12pt;
}

/*===============
PAGINA GALLERIA
=================*/

.galleryimg, .gallerypicmini, .backbutton{
	display: none;
}

.gallerymain a {
	text-decoration: none;
}

.imgsfondonero {
	width:100%;
}

#back, #imgsfondoneroa {
	display: none;
}

/*===============
PAGINA CHI SIAMO
=================*/

#GennyTiengoImg, #FabioFerroImg {
	display: none;
}

#Istruttori h2 {
	margin-bottom: -15px;
}

/*===============
PAGINA DOVE SIAMO
=================*/

#map {
	height: 400px;
    width: 100%;
}

#GoogleMaps h2 {
	margin-bottom: -15px;
}

/*===============
USER PANEL
=================*/

.bloccoDati {
	border:none;
	margin-bottom: 15px;
}

.EntryUtente {
	float: left;
	font-weight: bold;
}

.userData {
	font-weight: bold;
	font-size: 18pt;
}
#nomeCorso{
	display: block;
}

#iscrizioneCorsi, #discrizioneCorsi, #datiScheda {
	display: none;
}

/*===============
ADMIN PANEL
=================*/

.btn-1, .btn-2, .btn-3, .btn-5, .btn-9 {
	display: none;
}


/*===============
FORM
=================*/

#exit {
	display:none;
}

/*===============
MESSAGGI D'ERRORE
=================*/

.message h2 {
	margin-bottom: 0;
}

/*===============
TABELLE
=================*/

table {
    width: 100%;
	border: solid 1px black;
	border-collapse: collapse;
}

th, td {
	border: solid 1px black;
}

th.notPrint, td.notPrint {
	display: none;
}